.App {
  text-align: center;
}

.return-dados{
  background-color:whitesmoke;
  border: solid springgreen 2px;
  margin: 30px;
}
.return-dados h2 {
  color: springgreen;
}

h1{
  color: springgreen;
}
p span{
  color: darkcyan;
  font-weight: bold;
}
button{
  background-color: darkgrey;
  color: rgb(53, 51, 51);
  border: none;
  font-size: 18px;
  margin: 10px ;
  border-radius: 5px;
}
button:hover{
  background-color: springgreen;
}

.container-dados{
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dados{
  background-color: silver;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: auto;
  margin: 30px;

}